@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@300;400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');


.container-inicio{
    height: 530px;
    background-image:url(/src/assets/background.png);

    nav{
        display: flex;

    .logoland{
        width: 66px;
        height: 78px;
        margin-left: 20px;
        padding: 10px;
    }
    
    .text-logo {
    color: white;
    padding: 37px;
    padding-left: 5px;
    font-family: 'Lexend', sans-serif;
    font-size: 1rem;
    font-weight: 600;

}
    
    .Batao{
        display: flex;
        border:2px solid #C4C4C4;
        border-radius: 10px;
        text-decoration: none;
        height: 30px;
        align-items: center;
        margin: 20px;
        color: #E6E4E4;
        padding: 0px 10px;

    };

    .Batoes{
        font-family: 'Inter', sans-serif;
        font-weight: 600;
        display: flex;
        margin-left: 450px;
    }

}

.tituloPrincipal{
    margin-top: 50px;

    h1{
      padding-left: 244px;
      color: #F3884B;
      font-family: 'Poppins', sans-serif;
      font-weight: 700;
      font-size: 5rem;
      
    }
    h2{
        padding-left: 313px;
        color: #FFFFFF;
        font-family: 'Poppins', sans-serif;
        font-weight: 600;
        font-size: 3rem;
    }
    p{
        padding-left: 273px;
        color: #FFFFFF;
        font-family: 'Lexend', sans-serif;
        font-weight: 400;
    };
}

.botaoInscreva{
    display: flex;
    justify-content: end;
    margin-top: -150px;

    .inscrevaIMG{
        width: 390px;
    }
} 

.event-info {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: linear-gradient(to right, #1D2E5F, #2F4FA2);
    color: white;
    padding: 20px;
    font-size: 1rem;
  
    h3 {
      font-size: 1.1rem;
      margin-bottom: 5px;
      font-family: 'Inter', sans-serif;
    }
    
    p{
        font-family: 'Inter', sans-serif;
        font-weight: bold;
        font-size: 1.3rem;  
    }
    
    .date {
        font-size: 2.3rem;
        font-weight: normal;
        font-family: 'Lexend', sans-serif;
        color: #FFFFFF;
    }
  }

.comoFunciona{
    display: flex;
    
    .texto02{
        flex-direction: column;
        h4{
            padding-left: 100px;
            margin-top: 20px;
            font-size: 1.3rem;
            font-family: 'Lexend', sans-serif;
            font-weight: bold
        }
        
        p{
            font-family: 'Inter', sans-serif;
            font-weight: 500;
            font-size: 1.4rem;
            padding-left: 100px;
            margin-top: 15px
        };

    }

    .ComoFuncIMG{
        width: 350px;
        padding-left: 400px;
        margin-top: 20px;
        margin-bottom: 20px
    }   
}

.Programacao{
    h1{
        padding: 20px;
        color: #1D2E5F;
        background-color: #D9D9D9;
        font-weight: bold;
        font-size: 3rem;
        font-family: 'Lexend', sans-serif;
    }
    
    .patio{
        display: flex;
     .Rectangle{
        padding: 10px;
        height: 270px;
     }
    }
    .lista01{
        flex-direction: column;
        h2{
          font-family: 'Lexend', sans-serif;
          font-weight: 400;
          font-size: 2.4rem;
          color: #2B3F9E;
        }
    }
}



}